# Tratamento do csv de regiões
Para ajudar na escolha de municípios

In [18]:
import pandas as pd

df = pd.read_csv('ce-regions.csv', header=0, names=['municipioCaso', 'regiaoPlanejamentoCaso'])
df_geo = pd.read_csv('data-spider.csv', header=0, names=['municipioCaso', 'lat', 'lon'])

Transformar para UPPERCASE e remover acentuação

In [19]:
# erro do nome da cidade no site
df_geo['municipioCaso'] = df_geo['municipioCaso'].replace('Itapagé', 'Itapajé')

for col in ['municipioCaso', 'regiaoPlanejamentoCaso']:
    df[col] = df[col].str.upper()
    df[col] = df[col].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

for col in ['municipioCaso']:
    df_geo[col] = df_geo[col].str.upper()
    df_geo[col] = df_geo[col].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [20]:
ndf = df.merge(df_geo, on='municipioCaso')
ndf

         municipioCaso regiaoPlanejamentoCaso      lat      lon
0              MASSAPE       SERTAO DE SOBRAL -3.52126 -40.3410
1    SANTANA DO ACARAU       SERTAO DE SOBRAL -3.46085 -40.2177
2               SOBRAL       SERTAO DE SOBRAL -3.68274 -40.3512
3             GROAIRAS       SERTAO DE SOBRAL -3.91720 -40.3768
4              MERUOCA       SERTAO DE SOBRAL -3.54634 -40.4453
..                 ...                    ...      ...      ...
179  SANTANA DO CARIRI                 CARIRI -7.18826 -39.7377
180        NOVA OLINDA                 CARIRI -7.58333 -39.0833
181           BARBALHA                 CARIRI -7.30551 -39.3025
182          CARIRIACU                 CARIRI -7.04585 -39.2810
183       MISSAO VELHA                 CARIRI -7.25711 -39.1458

[184 rows x 4 columns]

In [21]:
ndf.to_csv('ce-cities-lat-lon-format.csv', index=False)